  <nav>
    <div class="nav-wrapper #424242 grey darken-3">
      <a href="#!" class="brand-logo center">Bombardier</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="">Inicio</a></li>    
        <li><a href="">Menu</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><i class="material-icons prefix">account_circle</i></li>
        <li><a href="">Mi Perfil</a></li>
      </ul>
    </div>
  </nav>

{{outlet}}
