{{outlet}}

 <div class="row body-createcurso">
   <h3 class="">Crear Curso</h3>

    <form class="col s12 form-createcurso">

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input  id="codigoCurso" type="text" class="validate">
          <label for="codigoCurso">Código de curso</label>
        </div>
        <div class="input-field col s6">
          <input id="nombreCurso" type="text" class="validate">
          <label for="nombreCurso">Nombre de Curso</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="competenciaImpactada" type="text" class="validate">
          <label for="competenciaImpactada">Competencia Impactada</label>
        </div>
         <div class="input-field col s6">
          <input id="areaTematica" type="text" class="validate">
          <label for="areaTematica">Área Temática</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="fechaInicio" type="text" class="datepicker">
          <label for="fechaInicio">Fecha de inicio</label>
        </div>
        <div class="input-field col s6">
          <input id="fechaFin" type="text" class="datepicker">
          <label for="fechaFin">Fecha de fin</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="duracionPlaneada" type="number" class="validate">
          <label for="duracionPlaneada">Duración planeada (hrs)</label>
        </div>
        <div class="input-field col s6">
          <input id="duracionReal" type="number" class="validate">
          <label for="duracionReal">Duración real (hrs)</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="estatus" type="text" class="validate">
          <label for="estatus">Estatus</label>
        </div>
        <div class="input-field col s6">
          <input id="nuevaFecha" type="text" class="datepicker">
          <label for="nuevaFecha">Nueva Fecha</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="participantesConvocados" type="number" class="validate">
          <label for="participantesConvocados">Número de participantes convocados</label>
        </div>
        <div class="input-field col s6">
          <input id="participantesArea" type="number" class="validate">
          <label for="participantesArea">Número de participantes por área</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="origen" type="text" class="validate">
          <label for="origen">Origen</label>
        </div>
        <div class="input-field col s6">
          <input id="tipoCurso" type="text" class="validate">
          <label for="tipoCurso">Tipo de curso</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="centroCostos" type="text" class="validate">
          <label for="centroCostos">Centro de costos</label>
        </div>
        <div class="input-field col s6">
          <input id="costoPlaneado" type="number" class="validate">
          <label for="costoPlaneado">Costo planeado</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="costoReal" type="number" class="validate">
          <label for="costoReal">Costo real</label>
        </div>
        <div class="input-field col s6">
          <input id="costoProrrateado" type="number" class="validate">
          <label for="costoProrrateado">Costo prorrateado</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="tipoEvaluacion" type="text" class="validate">
          <label for="tipoEvaluacion">Tipo de evaluacion</label>
        </div>
        <div class="input-field col s6">
          <input id="lbt" type="text" class="validate">
          <label for="lbt">LBT (responsable)</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <select>
            <option value="" disabled selected>Escoge un instructor</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Instructor</label>
        </div>
        <div class="input-field col s6">
          <input id="horasInstructor" type="number" class="validate">
          <label for="horasInstructor">Horas del instructor</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Pendientes</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Interno/Externo</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Áreas del curso</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Cantidad de cursos/grupo</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Tipo de evidencia</label>
        </div>
      </div>

      <div class="row row-createcurso">
        <div class="col s5">
          <div>Cafetería</div>
          <div class="switch">
            <label>
              No
              <input type="checkbox">
              <span class="lever"></span>
              Si
            </label>
          </div>
        </div>

        <div class="col s7">
          <div>White/Blue collar</div>
          <div class="switch">
            <label>
              WC
              <input type="checkbox">
              <span class="lever"></span>
              BC
            </label>
          </div>
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Crear curso
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
