{{outlet}}

<div class= maginCourse>

<div class="customRow">
	<h1>Nombre del curso</h1>
	<i class="medium material-icons">create</i>
</div>

	<div class="row">
    <div class="myImage">
     
          <div class="courseStatus">En curso</div>
       
    </div>
  </div>


  <div class="row">
    <div class="col s4">
      <div class="card white ">
        <div class="card-content black-text">
          <div class=customRow>
          	<span class="card-title">Participantes</span>
          	<i class="Small material-icons">create</i>
          </div>
          <p>Convocados</p> <div>--</div>
          <p>Área</p><div>---</div>
          <p>Real</p><div>---</div>
        </div>
      </div>

      <div class="card white">
        <div class="card-content black-text">
         <div class=customRow>
          <span class="card-title">Áreas</span>
          <i class="Small material-icons">create</i>
          </div>
         <div>-----</div>
        </div>
      </div>


       <div class="card white">
        <div class="card-content black-text">
        <div class=customRow>
          <span class="card-title">Costos</span>
           <i class="Small material-icons">create</i>
          </div>
          <div>Centro de costos</div><div>-----</div>
          <div>Costo planeado</div><div>-----</div>
          <div>Costo real</div><div>-----</div>
          <div>Costo prorrateado</div><div>-----</div>
        </div>

      </div>

 	  <div class="card white">
        <div class="card-content black-text">
         <div class=customRow>
          <span class="card-title">Cafetería</span>
          <i class="Small material-icons">create</i>
          </div>
          <div>-----</div>
        </div>
      </div>
     </div>

  	<div class="col s4">
      <div class="card white">
        <div class="card-content black-text">
        <div class=customRow>
          <span class="card-title">Próximas fechas</span>
          <i class="Small material-icons">create</i>
          </div>
          <div>Mes</div> <div>--- cursos</div>
        </div>
      </div>

       <div class="card white">
        <div class="card-content black-text">
        <div class=customRow>
          <span class="card-title">LBP</span>
          <i class="Small material-icons">create</i>
         </div>
          <div>-----</div>
          <div>Proveedor/instructor interno</div><div>-----</div>
        </div>
      </div>

      <div class="card white">
        <div class="card-content black-text">
        <div class=customRow>
          <span class="card-title">Información</span>
          <i class="Small material-icons">create</i>
         </div>
         	<div>Tipo de curso</div> <div>-----</div>
          <div>Tipo de competencia</div><div>-----</div>
          <div>Tipo de evaluación</div><div>-----</div>
          <div>Área temática</div><div>-----</div>
        </div>
      </div>

       <div class="card white">
        <div class="card-content blacktext">
        <div class=customRow>

          <span class="card-title">Origen</span>
          <i class="Small material-icons">create</i>
          </div>
          <div>-----</div>
          <div>WC/BC</div><div>-----</div>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card white">
        <div class="card-content black-text">
        <div class=customRow>
          <span class="card-title">Duración</span>
          <i class="Small material-icons">create</i>
         </div>
          <div>Planeada</div><div>-----</div>
          <div>Real</div> <div>----</div>
        </div>
      </div>

       <div class="card white">
        <div class="card-content black-text">
        <div class=customRow>
          <span class="card-title">Fechas</span>
          <i class="Small material-icons">create</i>
         </div>
          <div>Fecha inicio</div><div>-----</div>
          <div>Fecha fin</div><div>-----</div>
          <div>Nueva fecha</div><div>-----</div>
        </div>
      </div>

      <div class="card white">
        <div class="card-content black-text">
        <div class=customRow>
          <span class="card-title">Evaluación</span>
          <i class="Small material-icons">create</i>
          </div>
          <div>Tipo de evidencia</div><div>-----</div>
          <div>Evaluación inicial</div><div>-----</div>
          <div>Evaluación final</div><div>-----</div>
          <div>Número de aprobados</div><div>-----</div>
        </div>
      </div>

      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title">Comentarios</span>
          <div>-----</div>
          <a class="waves-effect waves-light btn">Agregar</a>

        </div>
      </div>



    </div>

 


   </div>

</div>