{{outlet}}

<div class="row body-createcurso">
  <h3 class="">Enrolando personal a: SAP VCM</h3>
  <br>
  <br>
  <div class="col s12 form-createcurso">
    <div class="row row-createcurso">
      <div class="input-field col s6">
        <label>Selecciona el instructor que imparte el curso</label>
        <br> <br>
          <select class="browser-default">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
      </div>
      <br><br>
      <div class="input-field col s6 btn-enrolar">

        <button class="btn waves-effect waves-light" type="submit" name="action">Enrolar alumnos
          <i class="material-icons right">send</i>
        </button>
        <br><br>
      </div>
    </div>

    <div class="row row-createcurso">
      <div class="input-field col s6">
        <label>Selecciona el área(s) del personal a enrolar</label>
        <br> <br>
          <select class="browser-default">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
      </div>
    </div>

    <div class="row row-tablacurso">
      <div class="col 12 tabla">
        <table class="highlight centered">
        <thead>
          <tr>
              <th>Selecciona</th>
              <th>Matrícula</th>
              <th>Nombre</th>
              <th>Área</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
                <span></span>
              </label></td>
            <td>123231</td>
            <td>Francisco Delgado</td>
            <td>Producción</td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
                <span></span>
              </label></td>
            <td>123212</td>
            <td>Kevin Barrera</td>
            <td>Producción</td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
                <span></span>
              </label></td>
            <td>122222</td>
            <td>Gerardo Flores</td>
            <td>Producción</td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
                <span></span>
              </label></td>
            <td>122322</td>
            <td>Arturo Ocampo</td>
            <td>Producción</td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
                <span></span>
              </label></td>
            <td>122322</td>
            <td>Arturo Sirvent</td>
            <td>Producción</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>

</div>
