{{outlet}}
<div class="row" style="margin-bottom: 0px">
  <div class="col s12 m6 l8 bg-center hide-on-small-only" style="height: 100vh; background-image: url('/res/media/image/cooler-background.jpeg');">

  </div>
  <div class="col s12 m6 l4 d-flex align-items-center" style="height: 100vh;">

    <div class="row">

      <div class="col s12 center-align" style="margin-bottom: 2rem">
        <h3><b>BOMBARDIER</b></h3>
      </div>

      <div class="col s12 center-align">
        <div class="row center">

          <div class="input-field col s12" style="padding-left: 10% !important; padding-right: 10% !important">
            <input placeholder="Usuario" id="first_name" type="text" class="validate form-control">
            <label for="first_name"> </label>
          </div>

          <div class="input-field col s12" style="padding-left: 10% !important; padding-right: 10% !important">
            <input placeholder="Contraseña" id="first_name2" type="password" class="validate form-control">
            <label for="first_name2"> </label>
          </div>

          <div class="col s12 text-center" style="margin-bottom: 3rem">
            <span class="grey-text lighten-1-">¿Olvidó su contraseña? Haga click </span><a href="">aqui</a>
          </div>

          <div class="col s12 text-center">
            <div class="row">
              <div class="col s12 m6 l6">
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Recuérdame</span>
                  </label>
                </p>
              </div>
              <div class="col s12 m6 l6">
                <a class="waves-effect waves-light btn blue darken-2" style="border-radius: 5px">Ingresar</a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
