{{outlet}}

<div class= maginCourse>
        
	<h4>Datos del personal</h4>
	<div class="row">
		<div class="center row">
			<img class="col"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIqtC7K9hXXGa821c0OkwppyASRCjHj_Pubh9ScF5v9XVC8acGhQ" style=" height: 80px; height: 80px; margin-left: 35%">
			<h4 class="col">Kevin Barrera Hernández</h4>
		</div>
		<div class="row">
			<div ></div>
			<h5 class="center">Información</h5>
			<h1 ></h1>
		</div>
		<div>
			<div class="input-field col s6">
	          <i class="material-icons prefix">label_outline</i>
	          <input id="icon_prefix" type="text" class="validate" readonly>
	          <label for="icon_prefix">Kevin Barrera Hernández</label>
	        </div>

	        <div class="input-field col s6">
	          <i class="material-icons prefix">assignment_ind</i>
	          <input id="icon_prefix" type="text" class="validate">
	          <label for="icon_prefix">A01274402</label>
	        </div>

	        <div class="input-field col s6">
	          <i class="material-icons prefix">email</i>
	          <input id="icon_prefix" type="text" class="validate">
	          <label for="icon_prefix">A01272522@itesm.mx</label>
	        </div>
			
			<div class="input-field col s6">
	          <i class="material-icons prefix">nature_people</i>
	          <input id="icon_prefix" type="text" class="validate">
	          <label for="icon_prefix">BAHK970827HHGRRV03</label>
	        </div>

	        <div class="input-field col s6">
	          <i class="material-icons prefix">hot_tub</i>
	          <input id="icon_prefix" type="text" class="validate">
	          <label for="icon_prefix">Responsable: Julio César Salgado</label>
	        </div>
	        <div class="input-field col s6">
	          <i class="material-icons prefix">date_range</i>
	          <input id="icon_prefix" type="text" class="validate">
	          <label for="icon_prefix">Puesto: Engineer, Mechanic</label>
	        </div>

	        <div class="input-field col s6">
	          <i class="material-icons prefix">date_range</i>
	          <input id="icon_prefix" type="text" class="validate">
	          <label for="icon_prefix">Área: Engineering, Mechanic</label>
	        </div>
	        
		</div>
		<br>
		<br>

	
		 
	 
	</div>
<div class="col " style="margin-top:10px;">	
		  <div class="switch col center ">
				
			    <label class="offset-s4" >
			      Blue Collar
			      <input type="checkbox">
			      <span class="lever"></span>
			      White Collar
			    </label>
			    <h6 >Historial de cursos:</h6>
		  </div>
		  	
	</div>
</div>